@import './reset.styl';

body
  size: 100vw 100vh
  color: #fff
  background-color: #00BCD4

#root, .app
  size: 100%
  display: flex
  justify-content: center
  align-items: center

.button
  padding: .5rem
  color: #fff
  background-color: #FF9800
  border-radius: 4px
