.seat
  display: inline-block
  size: 40px
  background-color: #607d8b
  margin: .25rem

.seat--other-focus
  background-color: #FFC107

.seat--closed
  background-color: #9E9E9E

.seat--selected
  background-color: #F44336
